{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<div class="hero-unit">
  <h2>Cálculo del diagrama de Pareto (ABC)</h2>
  <p>El objetivo de esta sección es brindarnos la posibilidad de graficar sencillamente, a partir de un archivo, un driagrama de Pareto.</p>
  <p>Para esto, es necesario subir un archivo .csv que contenga las siguientes 3 columnas:</p>
  <img src="../static/img/ejemplo_csv.png" class="img-rounded">
  <a href="../abc_min.csv" class="btn btn-success"> Descargar archivo de ejemplo</a>
</div>
<form action="{{ url_for('abc_subir_archivo') }}" method="post" class="form-inline" enctype="multipart/form-data">
  <label class="control-label" for="archivo">Archivo: </label>
  <input type="file" title="Seleccionar archivo" name="archivo">
  <input class="btn btn-primary" type="submit" value="Procesar Archivo">
</form>
  {% endif %}
{% endblock %}
