{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">var totales = {{totales|safe}};</script>
    <script type="text/javascript">var totales_acum = {{totales_acum|safe}};</script>
    <script type="text/javascript" src="../static/js/jqplot/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="../static/js/grafico_abc.js"></script>
    <div id="grafico" style="height:500px;width:100%;"></div>
    <div id="datos" style="width:35%;"></div>
    <br>
    <br>
    <h4>Monto total: {{monto_total}} </h4>
    <div id="gruposab" style="padding-top:10px; padding-right:5px;float:left;width:48%;">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Grupo A, representa hasta el {{ grupos['a'][1]*100 }}% del costo</th>
          </tr>
          <tr>
            <td> <strong>Código</strong> </td>
            <td> <strong>Monto individual</strong></td>
          </tr>
        </thead>
        <tbody>
          {% for p in grupos['a'][0] %}
          <tr>
            <td>{{ p }}</td>
            <td>{{ codigo_monto[p] }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Grupo B, representa hasta el {{ grupos['b'][1]*100 }}% del costo</th>
          </tr>
            <td> <strong>Código</strong> </td>
            <td> <strong>Monto individual</strong></td>
          </tr>        </thead>
        <tbody>
          {% for p in grupos['b'][0] %}
          <tr>
            <td>{{ p }}</td>
            <td>{{ codigo_monto[p] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    <div id="grupoc" style="padding-top:10px; padding-left:5px;float:left;width:48%;">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Grupo C, representa hasta el {{ grupos['c'][1]*100 }}% del costo</th>
          </tr>
          <tr>
            <td> <strong>Código</strong> </td>
            <td> <strong>Monto individual</strong></td>
          </tr>
        </thead>
        <tbody>
          {% for p in grupos['c'][0] %}
          <tr>
            <td>{{ p }}</td>
            <td>{{ codigo_monto[p] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
