{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

<form action="{{ url_for('mrp_enviar_datos') }}" method="post" class="add-entry" enctype="multipart/form-data">
  <dl>
    <dt>Subir Inventario:
      <dd><input type="file" title="Seleccionar archivo" name="archivo_inventario">
  </dl>

  <dl>
    <dt>Subir BOM:
      <dd><input type="file" title="Seleccionar archivo" name="archivo_bom">
  </dl>

  <dl>
    <dt>Cantidad de Productos a fabricar:
      <dd><input type="number" name="cantidad" placeholder="Ingrese la cantidad…">
  </dl>

  <dl>
    <dt>Calcular MRP:
      <dd><input class="btn btn-primary" type="submit" value="Calcular MRP">
  </dl>
</form>
  {% endif %}
{% endblock %}
