{% extends "layout.html" %}
{% block body %}
<h4> Cálculo de Necesidades </h4>
<div id="tabla" style="padding-top:10px; padding-right:5px;float:left;width:48%;">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Código</th>
        <th>Cantidad</th>
        <th>Tiempo de Fabricacion</th>
      </tr>
    </thead>
    <tbody>
      {% for item in necesidades %}
      <tr>
        <th>{{item}}</th>
        <th>{{necesidades[item][0]}}</th>
        <th>{{necesidades[item][1]}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
